#info > h1 {
  min-height: 31px;
}

#info > a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

#info > p {
  font-size: small;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
  height: 50px;
  min-width: 75px;
  padding: 8px 16px;
  line-height: 34px;
  margin: 0 0 21px;
  opacity: 0;
  transition: opacity .4s linear;
}

#info > p:hover {
  cursor: pointer;
  opacity: .6 !important;
  transition: opacity .1s linear;
}

#info > #chat-log {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32px);
  bottom: 8px;
  font-size: 11px;
}

#info > #chat-log > small {
  font-weight: 100;
  margin: 0 4px;
}

#info > #chat-log > small > span {
  font-weight: 500;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 32px);
  margin: 16px;
  flex-grow: 1;
}

#chat-messages {
  height: calc(100% - 64px);
  padding: 16px;
  overflow-y: scroll;
  flex-grow: 1;
  word-break: break-all;
  text-align: left;
}

.chat-message {
  margin: 8px 8px 16px;
}

.chat-message > h6 {
  margin-bottom: 4px;
  color: #3F51B5;
}

.chat-message > p {
  margin: 2px 4px;
  color: #4c4c4c;
}

#chat-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  flex-shrink: 0;
  margin: 16px 0;
}

#chat-input > textarea {
  height: 32px;
  flex-grow: 1;
  border: 0;
  padding: 8px;
  border-radius: 3px;
  background-color: #f1f1f1;
  resize: none;
  white-space: pre-wrap;
  overflow-y: hidden;
}

#chat-input > button {
  height: 32px;
  width: 100px;
  flex-shrink: 0;
  margin-left: 12px;
  border-radius: 3px;
}

#chatbox,
#info {
  animation: showUp .2s linear 1;
}

.chat-message:last-of-type > p:last-of-type {
  animation: showUpALot .4s linear 1;
}
@keyframes showUpALot {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}
@keyframes showUp {
  from {
    opacity: .8;
  }

  to {
    opacity: 1;
  }
}
