#info > a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

#info > #chat-log {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 32px);
  bottom: 8px;
  font-size: 11px;
}

#info > #chat-log > small {
  font-weight: 100;
  margin: 0 4px;
}

#info > #chat-log > small > span {
  font-weight: 500;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 32px);
  margin: 16px;
  flex-grow: 1;
}

#chat-info {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #495ece;
  margin-bottom: 16px;
  border-radius: 2px;
  color: white;
  flex-shrink: 0;
  transition: height .4s ease-in-out;
  overflow: hidden;
}

#chat-info-toolbar:hover {
  cursor: pointer;
}

#chat-info-toolbar {
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#chat-info-toolbar h2 {
  max-width: calc(100% - 136px);
}

#chat-info-icons > i {
  font-size: 24px;
  display: inline-block;
  padding: 0 8px;
  height: 56px;
  line-height: 56px;
}

#chat-info-icons > i:hover {
  opacity: .6;
}

#chat-info-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding-bottom: 16px;
}

#chat-info-log {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  padding: 0 16px;
  height: 44px;
  flex-shrink: 0;
}

#chat-info-log p {
  font-weight: 600;
  margin-right: 24px;
  text-align: left;
}

#chat-info-log p:last-of-type {
  margin-right: 0;
}

#chat-info-log span {
  font-weight: 100;
}

#chat-info-users-list {
  margin-left: -20px;
  margin-right: -20px;
  overflow-y: scroll;
  padding-left: 24px;
  text-align: left;
}

.users-list-item {
  position: relative;
  margin: 6px 0;
  padding-left: 16px;
}

.users-list-item span {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

#chat-messages {
  height: calc(100% - 64px);
  padding: 16px;
  overflow-y: scroll;
  flex-grow: 1;
  word-break: break-all;
  text-align: left;
}

.chat-message {
  margin: 8px 8px 16px;
}

.chat-message > h4 {
  margin-bottom: 4px;
}

.chat-message:first-of-type > h4 {
  margin-top: 0;
}

.chat-message > p {
  margin: 2px 4px;
  color: #4c4c4c;
  font-size: .9rem;
}

#chat-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  flex-shrink: 0;
  margin: 16px 0;
}

#chat-input > textarea {
  height: 32px;
  flex-grow: 1;
  border: 0;
  padding: 8px;
  border-radius: 3px;
  background-color: #f1f1f1;
  resize: none;
  white-space: pre-wrap;
  overflow-y: hidden;
}

#chat-input > button {
  height: 32px;
  width: 100px;
  flex-shrink: 0;
  margin-left: 12px;
}

#chatbox,
#info {
  animation: showUp .2s linear 1;
}

.chat-message:last-of-type > p:last-of-type {
  animation: showUpALot .4s linear 1;
}
@keyframes showUpALot {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}
@keyframes showUp {
  from {
    opacity: .8;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 720px) {
  #chat-info {
    border-radius: 0;
  }

  #chat-info-log {
    height: 62px;
  }

  #chat-input > button {
    display: none;
  }
}
