#content {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  background-color: #495ece;
}

#content * {
  margin: 8px 0;
  text-align: center;
}

#content input {
  display: block;
}

#content button {
  min-height: 25px;
  min-width: 75px;
}

#content p {
  display: inline-block;
  font-size: small;
  color: white;
  margin: 0 8px;
}
