body {
  flex-direction: column;
  background-color: #495ece;
}

#info {
  height: 50%;
  width: 100%;
  justify-content: flex-end;
}

#content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  background-color: #495ece;
}

#content * {
  margin: 8px 0;
  text-align: center;
}

#content input {
  display: block;
}

#content button {
  min-height: 25px;
  min-width: 75px;
}

#content p {
  display: inline-block;
  font-size: small;
  color: white;
  margin: 0 8px;
}
@media (max-width: 720px) {
  #info {
    flex-direction: column;
  }

  #info img {
    display: block;
    max-height: 100px;
    max-width: 150px;
  }

  #info p {
    margin: 24px 0 0;
  }
}
