@import url( 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');

/*
  colors: {
    blue: {
      light: rgb(92, 110, 211),
      medium: #495ece,
      dark: rgb(66, 84, 185)
    }
  }
*/

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(92, 110, 211, 1);
  height: 60px;
}

-webkit-overflow-scrolling: touch;
/* lets it scroll lazy */

input[type="text"] {
  text-align: center;
}

button {
  background-color: rgba(0,0,0,.2);
  border-color: rgba(0,0,0,.075);
  background-color: rgb(92, 110, 211);
  border-color: rgb(92, 110, 211);
  background-color: rgb(66, 84, 185);
  border-color: rgb(92, 110, 211);
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 2px;
}

#info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  flex-shrink: 0;
  background-color: #495ece;
  color: white;
  padding: 16px 32px;
  text-align: center;
}

#info img {
  display: block;
  margin: auto;
}

#info img:last-of-type {
  margin-top: 4px;
}

#info p {
  font-size: small;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
  height: 50px;
  min-width: 75px;
  max-width: 300px;
  padding: 8px 16px;
  line-height: 34px;
  margin: 24px 0 0;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity .4s linear;
}

#info p:hover {
  cursor: pointer;
  opacity: .6 !important;
  transition: opacity .1s linear;
}

#content {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

body {
  animation: showUp .2s linear 1;
}
@keyframes showUp {
  from {
    opacity: .8;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 720px) {
  body {
    flex-direction: column;
  }

  button {
    min-height: 48px !important;
    min-width: 100px !important;
  }

  #info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100% !important;
    padding: 4px 16px;
  }

  #info img {
    display: inline-block;
    max-height: 48px;
    max-width: 100px;
    vertical-align: middle;
  }

  #info p {
    margin: 0;
    max-width: 30%;
    height: 30px;
    padding: 6px 10px;
    line-height: initial;
  }

  #info img:last-of-type {
    display: none;
  }

  #content {
    margin-top: 0 !important;
    width: 100%;
  }
}
