#info {
  width: 100%;
}

#info > a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
@media (max-width: 720px) {
  #info {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
}